# Apple directory store
**/.DS_Store

# My build directory
build/

# Default CLion build directories.
cmake-build-*/

CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

# CLion
.idea/
*.cbp
Testing/

# Git FetchContent folders
_deps/
CPackConfig.cmake
CPackSourceConfig.cmake
generated-includes/

# My test results
test_results.xml